// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$material-light: (
  'background': #FBFBFB
);

$border-radius-root: 20px;
$btn-text-transform: none;
$text-field-line-height: 45px;


// custom variables
// inputs
.v-text-field input {
  font-size: 1.25rem;
}

// links
a {
 text-decoration: none;
}

.GMap, .GMap__Wrapper {
  height: 100% !important;
}

// algolia results
.results-list {
  list-style-type: none;
  padding: 0 !important;
}

.listing-card-search {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.main-font {
  font-family: 'Open Sans';
}